In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.chdir('/home/kamran/Link to CVM/AutoML/Test_Part')

In [3]:
# Load the data set
df = pd.read_csv('saving_data.csv')

In [4]:
df.head()

   cust_id  sa_status sa_type  sa_balance        sa_trans_date
0        1          1     sa           40  2017-06-18 06:51:44
1        1          1     sa           20  2017-06-29 13:43:30
2        1          1     sa           10  2017-05-29 05:47:12
3        1          1     sa           20  2017-05-31 03:20:17

In [5]:
df.dtypes

cust_id           int64
sa_status         int64
sa_type          object
sa_balance        int64
sa_trans_date    object
dtype: object

In [14]:
df['sa_trans_date'] = pd.to_datetime(df['sa_trans_date'], errors='coerce')

In [15]:
df.dtypes

cust_id                   int64
sa_status                 int64
sa_type                  object
sa_balance                int64
sa_trans_date    datetime64[ns]
sa_bal_year             float64
sa_bal_month            float64
dtype: object

In [19]:
df['sa_trans_date'].dt.year

0    2017
1    2017
2    2017
3    2017
Name: sa_trans_date, dtype: int64

In [9]:
df['sa_bal_year'] = np.nan
df['sa_bal_month'] = np.nan

In [18]:
df['sa_bal_year'] = df['sa_trans_date'].dt.year

In [20]:
df['sa_bal_month'] = df['sa_trans_date'].dt.month

In [21]:
df.head()

,cust_id,sa_status,sa_type,sa_balance,sa_trans_date,sa_bal_year,sa_bal_month
0,1,1,sa,40,2017-06-18 06:51:44,2017,6
1,1,1,sa,20,2017-06-29 13:43:30,2017,6
2,1,1,sa,10,2017-05-29 05:47:12,2017,5
3,1,1,sa,20,2017-05-31 03:20:17,2017,5

In [28]:
df = df.groupby(['cust_id', 'sa_bal_year', 'sa_bal_month']).mean().reset_index()

In [29]:
df

   cust_id  sa_bal_year  sa_bal_month  sa_status  sa_balance
0        1         2017             5          1          15
1        1         2017             6          1          30

In [27]:
#df.groupby(['cust_id', 'sa_bal_year', 'sa_bal_month']).sum().groupby(level=0).mean()

In [30]:
df.pivot(index = 'cust_id', columns = 'sa_bal_month', values = 'sa_balance').reset_index()

sa_bal_month  cust_id   5   6
0                   1  15  30